.assessment-row:hover {
    background-color: lightblue;
}

.criteria:hover {
    border-radius: 5px;
    border-color: #1976d2;
}

.criteria {
    padding: 2px;
    border: 2px solid #ffffff00;
}


.criteria-definition {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.criteria-definition-description {
    flex: 1;
}

.criteria-definition-actions {
    display: flex;
}

.cd-actions-show {
    display: flex;
    visibility: visible;
}

.cd-actions-hide {
    visibility: hidden;
}

.criteria-defintion-actions-fill {
    flex: 1;
}